<div>
  <form [formGroup]="form1">
    <div>
      <label>Name</label>
      <input type="text" formControlName="name" placeholder="Enter your name" [ngClass]="{'error-wrapper': isSubmitted && f.name.errors}">
      <div *ngIf="isSubmitted && f.name.errors">
        <div *ngIf="isSubmitted && f.name.errors.required" class="text-danger">Name is required</div>
        <div *ngIf="isSubmitted && f.name.errors.maxlength" class="text-danger">Name must be less than 10 char</div>
      </div>
    </div>
    <br>
    <div>
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Enter your email" [ngClass]="{'error-wrapper': isSubmitted && f.email.errors}">
      <div *ngIf="isSubmitted && f.email.errors">
        <div *ngIf="isSubmitted && f.email.errors.required" class="text-danger">Email is required</div>
        <div *ngIf="isSubmitted && f.email.errors.pattern" class="text-danger">Email is invalid</div>
      </div>
    </div>
    <br>
    <div>
      <label>Date of Birth</label>
      <input type="date" formControlName="dateOfBirth">
    </div>
    <br>
    <div>
      <label>Age</label>
      <input type="text" formControlName="age" placeholder="Enter your age" [ngClass]="{'error-wrapper': isSubmitted && f.age.errors}">
      <div *ngIf="isSubmitted && f.age.errors">
        <div *ngIf="isSubmitted && f.age.errors.required" class="text-danger">Age is required</div>
      </div>
    </div>
    <br>
    <div>
      <label>Phone Number</label>
      <input type="text" (keypress)="numberOnly($event)" formControlName="phone" placeholder="Enter your phone number" maxlength="10" [ngClass]="{'error-wrapper': isSubmitted && f.phone.errors}">
      <div *ngIf="isSubmitted && f.phone.errors">
        <div *ngIf="isSubmitted && f.phone.errors.required" class="text-danger">Phone number is required</div>
        <div *ngIf="isSubmitted && f.phone.errors.minlength" class="text-danger">Phone number must be 10 digits</div>
      </div>
    </div>
    <br>
    <div>
      <label>Gender</label>
      <input type="radio" formControlName="gender" value="male" [ngClass]="{'error-wrapper': isSubmitted && f.gender.errors}">
      <input type="radio" formControlName="gender" value="female" [ngClass]="{'error-wrapper': isSubmitted && f.gender.errors}">
      <div *ngIf="isSubmitted && f.gender.errors">
        <div *ngIf="isSubmitted && f.gender.errors.required" class="text-danger">Gender is required</div>
      </div>
    </div>
    <br>
    <div>
      <select formControlName="country" [ngClass]="{'error-wrapper': isSubmitted && f.country.errors}" (change)="OnCountryChange($event.target.value)">
        <option value="" selected disabled hidden>Select your country</option>
        <option value="null" selected disabled hidden>Select your country</option>
        <option value="aa">aa</option>
        <option value="bb">bb</option>
        <option value="cc">cc</option>
      </select>
      <div *ngIf="isSubmitted && f.country.errors">
        <div *ngIf="isSubmitted && f.country.errors.required" class="text-danger">Country is required</div>
      </div>
    </div>
    <div *ngIf="form1.controls['country'].value">
      <label>State</label>
      <input type="text" formControlName="state" placeholder="Enter your state" [ngClass]="{'error-wrapper': isSubmitted && f.state.errors}">
      <div *ngIf="isSubmitted && f.state.errors">
        <div *ngIf="isSubmitted && f.state.errors.required" class="text-danger">State is required</div>
      </div>
    </div>
    <br>
    <button type="button" (click)="resetForm()">Reset</button>
    <button type="button" (click)="onSubmit()">Submit</button>
    <button type="button" (click)="patchValue()">Patch value</button>
  </form>
  
</div>  
<!-- {{values()}} -->