<div>
    <h2>Get Request (https://jsonplaceholder.typicode.com/users)</h2>
    <table class= "table">
      <tr>
       <th>Id  </th>
      <th>POST ID</th>
      <th>Name </th>
      <th>email  </th>
      <th>Body  </th>
      </tr>
      <tr *ngFor="let com of lstComments">
        <td>{{com.id}}</td>
        <td>{{com.postId}}</td>
        <td>{{com.name}}</td>
        <td>{{com.email}}</td>
        <td>{{com.body}}</td>
  
      </tr>
    </table>
  </div>