<div>
  <input type="text" placeholder="enter email to search" [(ngModel)]='search' >
  <button (click)="searchUser(search)">Search</button>
  


</div>
<table>
    <thead>
      <tr>
        <th>Sno</th>
        <th>Name</th>
        <th>Email</th>
        <th>DOB</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Country</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody >
      <tr ></tr>
      <tr *ngFor ="let item of userData | slice : startIndex:endIndex; let i=index" >
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.dateOfBirth}}</td>
        <td>{{item.age}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.country}}</td>
        <td>{{item.state}}</td>
        <button (click)="DeleteUser(i)">delete</button>
        <button (click)="editUser(item.userId)">Edit</button>
      </tr>
    </tbody>

    <!-- <pagination-controls (pageChange)="p = $event" ></pagination-controls> -->
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li *ngFor="let i of getArrayFromData(userData.length); let in =index" class="page-item">
        <a class="page-link" (click)="updateIndex(in)" >{{in+1}}</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  
